<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Simülasyon Projesi</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='../static/style.css'>
</head>
<body>
    <h1>Kuantum Tünelleme ve Nükleer Füzyon Simülasyonları Projesi</h1>

    <div class="container">

        <div class="simulation-box">
            <h2>Nükleer Füzyon Simülasyonu</h2>
            <p>Kuantum tünellemenin yıldız çekirdeklerinde füzyonu nasıl etkilediğini sıcaklık ve enerji parametlerini değiştirerek Gamow penceresini kullanarak görselleştirin.</p>
            <button onclick="window.location.href='/fusion_sim'">
                <p class="button">Simülasyonu Başlat</p> 
            </button>
        </div>

        <div class="simulation-box">
            <h2>Kuantum Tünelleme Simülasyonu</h2>
            <p>Kuantum tünelleme olasılığının radyoaktif elementlerde half-life faktörünü nasıl etkilediğini görselleştirin.</p>
            <button onclick="window.location.href='/tunneling_sim'">
                <p class="button">Simülasyonu Başlat</p> 
            </button>
        </div>
    </div>
    
</body>
</html>